@font-face {
    font-family: 'Arial MT';
    src: url('../fonts/ArialMT.woff2') format('woff2'),
        url('../fonts/ArialMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?5orj2m');
  src:  url('../fonts/icomoon.eot?5orj2m#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?5orj2m') format('truetype'),
    url('../fonts/icomoon.woff?5orj2m') format('woff'),
    url('../fonts/icomoon.svg?5orj2m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock2:before {
  content: "\e94f";
}
.icon-search:before {
  content: "\e986";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-linkedin:before {
  content: "\eac9";
}




@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurenceregular.woff2') format('woff2'),
        url('../fonts/Eurofurenceregular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurenceitalic.woff2') format('woff2'),
        url('../fonts/Eurofurenceitalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurencelightitalic.woff2') format('woff2'),
        url('../fonts/Eurofurencelightitalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurencebolditalic.woff2') format('woff2'),
        url('../fonts/Eurofurencebolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurencelight.woff2') format('woff2'),
        url('../fonts/Eurofurencelight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'eurofurence';
    src: url('../fonts/Eurofurencebold.woff2') format('woff2'),
        url('../fonts/Eurofurencebold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon2';
  src:  url('../fonts/icomoon2.eot?e445u8');
  src:  url('../fonts/icomoon2.eot?e445u8#iefix') format('embedded-opentype'),
    url('../fonts/icomoon2.ttf?e445u8') format('truetype'),
    url('../fonts/icomoon2.woff?e445u8') format('woff'),
    url('../fonts/icomoon2.svg?e445u8#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon2' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}