@import "fonts.css"; 
/* Header css */
* {
    box-sizing: border-box;
}
.header h1{
    text-transform: uppercase;
    font-size:30px;
    font-family: Arial;
    color: #a5adb8;
    font-weight: 700;
    line-height: 0px;
    }
.header h1:first-letter{
    color:#ae4b5d
}
.header3 p {
    color:#656f7a;
    font-size: 12px;
    font-weight: 700;
    line-height: 0px;
    position: relative;
    left: -1px;
    top:-1px;
}
.header3{
    border: 0px red solid;
    position: relative;
    top:12px;
    padding: 0 9px;
    
}
.header2{
    display: flex;
    flex-direction: row;
    border: 0px solid red;
     max-width: 980px;
    justify-content: space-between;
    position: relative;
    left:50%;
    transform: translateX(-50%);   
    
}
.header1{
    height:72px;
    background: linear-gradient(0deg,#292c34,#52595f);
    width:100%;
    
}

.search{
    position: relative;
    top:18px;
    left:-9px;
    border: 0px solid red;
}
@media all and (max-width:620px){
    .search{
        position: absolute;
        left:140px;
    }   
}
.formSearch{
    border:1px solid red;
}

.button{
    background-color:#ae4b5d;
    border-radius: 5px;
    border:0;
    margin-left: 11px;
    padding: 5px;
    width: 34px;
    height: 34px;
    position: relative;
   
}
.button{
    content: attr(defaultValue);
    font-family: icomoon;
    color:#fff;  
}

.inputSearch{
    border: 1px solid #875f66;
    background: #24272d;
    height: 34px;
    width: 198px;
    border-radius: 5px;
    box-shadow: 0 5px 5px #1c1e23 inset;
    color:#5b636e;
    font-size: 14px;
    padding-left: 8px;
    font-family: "ArialMT"
}
@media all and (max-width:620px){
    .button{
        width: 25px;
        height: 25px;  
}
    .inputSearch{
        height: 25px;
        width: 150px;
    
}
    
}
.headerImg0{
    width: 100%;
}
.headerImg{
    max-width: 980px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    height: 240px;
    background-image: url(../img/header.jpg);
    
}
.headerImg2{
    min-height: 240px;
    overflow: hidden;
    background: #282d33;
    width: 100%;
    background: rgba(40,45,51,0.4);
}

.headerAbout{
    max-width: 540px;
    position: relative;
    padding-left: 38px;
    top:-210px;
    border: 0px solid red;
    max-height: 240px;    
    display: flex;
    justify-content: space-between;
    flex-direction: column
}
.headerAbout1 h2{
    
    font-size:30px;
    font-family: Arial;
    color: #a5adb8;
    font-weight: 700;
    line-height: 0px;
    }
.headerAbout1 h2:first-letter{
    color:#ae4b5d
}
.headerAbout1 .headerGrey{
    color:#282d33;
    font-size:18px;
    font-family: "Arial";
    font-weight: bold;
    line-height: 0px;
}

.headerAbout2 h3{
    font-size: 18px;
    line-height: 4px;
    color: rgb(165,173,184);
    font-family: "Arial";    
}

.headerAbout2{
    width:98%;
    position: relative;
    top:-2px;
    left:1px;
    padding-right: 15px;
}
 
.headerText{
    position: relative;
    top:-5px;
    left:1px;
    font-size: 14px;
    color: #d9dcdf;
    font-family: "Arial";
    white-space:pre-wrap;
    }
@media all and (max-width:522px){
    .headerText{
        font-size: 12px;
    }
}
.burger
{
    display:none;   
}
.meniuBurger{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top:-240px;
    background:gray;
    height: 240px;
    text-align: left;
}
.meniuBurger ul{
   margin: 0;
}
.meniuBurger ul li{
   list-style:none;
    margin-top: 14px;
}
.closeBurger:before{
    content: "\e9bf";
    font-family: 'icomoon2';
    color:#fff;
    font-size: 22px;
    }

.open:before{
    content: "\e9c0";
    font-family: 'icomoon2';
    color:#fff;
    font-size: 22px;
    }
@media all and (max-width:522px){
    .burger{
        display:block;
        padding-top: 5px;
        padding-right: 10px;
    }
    .meniu2{
        display:none;
    }
}


/* Meniu css */


 

.meniu {
    max-width: 980px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    
}
.meniu1{
   background: #95161f;
    height: 36px;
    text-align: right;
}
.meniu2{
    float: right;
    width: 73.6%;
    margin-right: 8px;      
}
 @media all and (max-width:660px){
    .meniu2 {
            float: none;
      }
    }
.meniu2 ul{
    display: flex;
    justify-content: space-between;
   margin: 0;
}
.meniu2 ul li{
    display: inline;
    margin-right: 13px;
    position: relative;
    top: 7px;
}
.meniu a{
    font-size: 16px;
    color: #fff;
    font-family: "Arial";
    font-weight: bold;
    text-decoration:none;
    
}

.meniuWhere{
    background: #f3f3f3;
    text-align: left;    
   width: 100%;
    height: 25px;
    font-size: 11px;
    color: #6b6f74;
    font-family: "ArialMT";
    
}


.meniuWhere p{
    position: relative;
    top: 6px;
    padding-left: 25px;
    margin: 0;
}



/*contact Us css*/


.contactUs{
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding-left: 22px;
}
@media all and (max-width:640px){
    .contactUs{
        display:none;
    }
}
.contactUs1{
    border:1px solid #d7dade;
    width: 213px;
    background: #f3f3f3;
    margin-top: 20px;
    text-align: center;
    height: 410px;
    
}
.contactUs1 h3{
    color: #282d33;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding-left: 14px;
    font-family: "Arial";
    margin: 15px 0;
}
.contactUs1 .sendForm {
    color:#656f7a;
    font-size: 14px;
    margin:50px 0px;
    
}

.contactUs form input, select{
    background: #e3e4e5;
    border:1px solid #fff;
    height: 32px;
    width: 186px;
    border-radius: 5px;
    color:#757575;
    font-size: 14px;
    font-family: "Arial";
    margin-bottom: 14px;
    padding-left: 8px;
    box-shadow: 0 3px 1px #d4d5d6 inset;
}
.contactUs  select{
    padding-left: 4px;
}
.contactUs form button,
.contactUs  button{
    border: 5px solid #fff;
    background: #a9212b;
    width: 177px;
    height: 46px;
    color:#f1f1f1;
    font-size:16px;
    font-family: "ArialMT";
    box-shadow: 0 5px 5px #c0c0c0 ;
    text-shadow: 1px 1px 2px black;
    position: relative;
    left:-5px;
    top:2px;
}

.headline{
    width: 212px;
}
.headline h3{
    font-size: 18px;
    color: #282d33;
    font-family: "Arial";
    font-weight: bold;
    margin: 0;
    margin-top: 24px;
}
.headline p{
    font-size: 12px;
    color: #5c646e;
    font-family: "Arial";
    line-height: 20px;
    margin-top: 5px;
    width: 204px;
}
.headline a{
    margin-top: 7px;
    color:#95161f;
    display: block;
}
/*footer mss */

.footer{
    width: 100%;
    background: #292c34;
    min-height: 260px;
    border-top: 8px solid #ae4b5d;
    display: flex;
    justify-content: center;
    position: relative;
    top:-3px;
}
.footer0{
    
}
.footer1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 980px;
    position: relative;
    border:0px solid red;
    padding: 20px 8px 0 9px;  
 
}

.footer2{
    border:0px solid red;
    width: 270px;
}
.footer2 h3,h4,h5{
    font-size:18px;
    font-family: ArialMT;
    color: #a5adb8;
    line-height: 0px;
    font-weight: 400;
    }
@media all and (max-width:843px){
    .footer1{
        justify-content: center;
        width: 500px;
    }
    .footer2{
        margin:0 40px 20px 40px;
    }
}
@media all and (max-width:390px){
    .footer1{
        width: 290px
    }
    .footer2{
        margin:0 5px 20px 10px;
    }
}

.footer2 h3 span{
    color:#ae4b5d;
}
.footer2 h4:nth-last-of-letter(5){
    color:#ae4b5d;
}

.footer2 .cherryHours, .localCherry, .ourLocation{
    border-top: 1px solid #191c20 ;
}
.footer2 .cherryHours2, .localCherry2, .ourLocation2{
    border-top: 1px solid #3f464f ;
}
.footer2 .cherryHours,
.footer2 .localCherry2,
.footer2 .ourLocation2{
    color:#85898f;
    font-size: 12px;
    font-family: "ArialMT";
    list-style-type: none;
}
.footer2 .cherryHours2 ul li:before{
     content: "\e94f";
    font-family: 'icomoon';
    padding-right: 10px;
    color: #ae4b5d;
    font-size: 15px;
}
.footer2 .cherryHours2 ul li{
    list-style-type: none;
    position: relative;
    left: -35px;
    line-height: 22px;
    width:250px;
    top:-5px;
}
.footer2 .cherryHours2 .neworks{
    position: relative;
    top:-10px;
}
.footer2 .localCherry2 ul li{
    position: relative;
    left: -35px;
    line-height: 22px;
    width:250px;
    list-style-type: none;
    top:-8px;
    position: relative;
}
.footer2 .localCherry2 p{
    position: relative;
    left:7px;
}
.footer2 .localCherry2 ul li:before{
    content: "\2022";
    font-size: 20px;
    padding-right: 10px;
    color: #ae4b5d;
    position: relative;
    top:3px;
}
.footer2 .localCherry2 a{
    text-decoration: none;
    color: inherit;
    font-family: "Arial";
}
.cherryHours2 p a{
    text-decoration: none;
}
p a.facebook:before{
    content: "\ea91";
    font-family: 'icomoon';
    color:#ae4b5d;
    font-size: 25px;
    padding-left: 15px;
    top:5px;
    position: relative; 
}
p a.linkedin:before{
    content: "\eac9";
    font-family: 'icomoon';
    color:#ae4b5d;
    font-size: 25px;
    padding-left: 15px;
    top:5px;
    position: relative; 
}
p a.twitter:before{
    content: "\ea96";
    font-family: 'icomoon';
    color:#ae4b5d;
    font-size: 25px;
    padding-left: 15px;
    top:5px;
    position: relative; 
}

.footer2 .localCherry2 p{
    font-size: 14px;
    font-family: "Arial";
    font-weight: bold;
    line-height: 0;
    position: relative;
    top:-7px;
    color: #a5adb8;
}
.footer2 .ourLocation2 a{
    text-decoration: none;
    color:#d08b98;
}
.footer2 .ourLocation2 a.tel{
    text-decoration: none;
    color:#85898f;
}
.footer2 .ourLocation2 a:hover{
    text-decoration: underline;
}
.footer2 .ourLocation{
    position: relative;
    left:5px;
}
.footer2 .ourLocation2 p{
    margin-top:10px ;
}


/*Home css*/

.content {
    max-width: 980px;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row;
}


.content2{
    margin-bottom: 60px;
    width: 100%;
}

.content1{
    padding: 11px 0px 0 27px;
    max-width: 745px;
    background: #fff;
    position: relative;
    
}

.content1 h2{
    font-size:24px;
    font-family: Arial;
    color: #a5adb8;
    font-weight: 700;
    line-height: 0px;
    position: relative;
    }
.content1 h2:first-letter{
    color:#ae4b5d
}
.content_a{
    max-width: 740px;
}
.content_a p{
    width:90%;
    color:#5c646e;
    font-size: 14px;
    font-family: "Arial";
    line-height: 20px;
    padding-top: 3px;
    white-space: pre-wrap;
}
.content_a p a{
    color:#95161f;
}
.content_b{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 615px;
    min-height: 191px;
    margin-right: 15px;
}
 .panel a{
    text-decoration: none;
    color:#282d33;
    
    width: 210px;
    line-height: 0;
}
.panel{
    height: 180px;
    position: relative;
    width: 195px;
}
.panel h3{
    margin: 9px 0 20px 0;
    font-size: 18px;
    font-weight: 600;
}
 .panel img{
    height: auto;
    width: 100%;
    
}
.shadow{
    overflow: hidden;
    height: 140px;
    border: 1px solid #fff;
    box-shadow: 0 5px 5px #c0c0c0 ;
}
.content_c{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    color:#5c646e;
    font-size:14px;
    max-width: 740px;
    line-height: 23px;
    position: relative;
    left:-3px;
    letter-spacing: 0px;
    min-height: 251px;
}
.content_c  div {
    width:239px;
    font-family: "Arial";
    position: relative;
    top:-9px;
}
.content_c .listsUn{
    position: relative;
    left:-22px;
}
.content_c .listsOl{
    position: relative;
    left:-12px;
}
.content_c .listsOl ol li{
    position: relative;
    left:-21px;
}
.content_c li {
    position: relative;
    left:-14px;
    width: 220px;
}
.content_c .unstyled {
    list-style-type: none;
     
}
.content_c li ul li{
   list-style-type:disc;
   width:180px;
    
}
@media all and (max-width: 521px){
    
    .content_c .listsOl{
        left:0px;
    } 
}
.greyBg{
    background: #dedede;
    border-radius: 3px;
    font-weight: 400;
}
.content_c p{
    margin:0;
}
li.p{
    list-style-type: none;
    color:#5c646e;
    font-size: 14px;
    font-weight: 600;
}
.listsUl ul li:first-child,
.listsOl ol li:first-child{
    position: relative;
    left: -38px;
}
.content_d{
    max-width: 694px
}
.content_d table tr td{
    background: #282d33;
    height: 33px;
    color:#a5adb8;
    font-size: 12px;
    padding-left: 13px;
    padding-top: 5px;
    font-family: "Arial";
    font-size: 14px;
}
.content_d table tr td:nth-child(2){
    width: 125px;
}
.content_d table tr td:nth-child(1){
    padding-left: 17px;
    padding-top: 2px;
}

.content_d table tr th{
    background: #9c4757; 
    height: 31px;
    color:#fefeff;
    font-size: 12px;
    text-align: center;
    font-family: "Arial";
}

.content_d table{
    width: 100%;
    border-spacing: 1px;
    margin-top: 32px;
    padding-right: 10px;
}
.borderLeftBt{
    border-bottom-left-radius: 5px;
    width: 45px;
}
.borderRightBt{
    border-bottom-right-radius: 5px;
}
.leftBorder{
    border-top-left-radius: 5px;
}
.rightBorder{
    border-top-right-radius: 5px;
}
.content_d table a{
    color:#d08b98;
}
.numberRed{
    background: #9c4757!important;
    color: #fefeff!important;
}
@media all and (max-width:480px){
   .content2{
    display: flex;
    align-items: center;
       flex-direction: column;
    } 
    .content_b{
        width: 240px;
    }
    .content_c{
        width: 250px;
    }
    .panel{
    width: 225px;
        height: 210px
    }
    .shadow{
    height: 160px;
}
}
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}
.error{
    color:red;
    font-size:10px;
    margin:0;
    display: block;
}
.smallTab{
    display: none;
}
@media all and (max-width:410px){
    .content_d{
    display: none;
    }
    .smallTab{
    display: block;
}
}
.tableSmall{
    max-width: 250px;
}
.error2{
    color:red;
     font-size:14px;
    text-align: justify;
}
.panel2{
    position: relative;
}
.contactAbout {
   z-index: 100;
    color:#5c646e;
    font-size: 14px;
    font-family: "ArialMT";
    position: absolute;
    padding:10px 10px 0 10px;
    background: rgba(0,0,0,0.03);
    width: 193px;
    border-top: 2px solid #9c4757;
    text-transform: uppercase;
    text-align: center;
}
.contactAbout  a {
    text-decoration: none;
    color:#95161f;
}
.location{
    border-top: 1px solid #9c4757;
    border-bottom: 1px solid #9c4757;
    position: relative;
    top:60px;
    color:#5c646e;
    font-size: 14px;
    font-family: "ArialMT";
    list-style-type: none;
    width: 50%;
}
.location a{
    text-decoration: none;
    color:#95161f;
}
.locationData{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 700px;
}
.content_b form {
    max-width:695px;
}
.content_b form input:first-child{
    margin-right: 5px;
}
.content_b form input,
textArea{
    margin-bottom: 5px;
    padding: 7px 7px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 345px;
}
.content_b form button,
.addArticle button{
    display: block;
    background: #a9212b;
    margin-bottom: 5px;
    border: 0;
    border-radius: 15px;
    width: 100px;
    height: 30px;
    color:#fff;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    text-shadow: 1px 1px 2px black;
}

.content_b form button:hover,
.addArticle button:hover{
    background: #98101a;
}

.content_b form textarea{
    height: 200px;
    width: 695px;
    font-family: "Arial";
}
.blogText textarea{
    height: 200px;
    width: 600px;
    font-family: "Arial";
}
.addArticle{
    position: relative;
    left:50%;
}



.blogTable{
    width: 695px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f3f3f3;
    border-radius:5px;
    padding: 15px;
    margin: 15px 0 15px 0;
}
.blogName{
    border-bottom: 1px solid #ced4da;
     width: 600px;
     color:#98101a;
    font-size:16px;
    font-family: "ArialMT";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.blogDate{
    width: 600px;
    color:#ced4da;
    font-size: 12px;
}
.blogText{
    margin-top: 10px;
    width: 600px;
    color: #5c646e;
    font-size: 14px;
    font-family: "ArialMT";
    line-height: 20px;
}
.searchResult{
    background: #fff;
    border-radius: 15px;
    z-index: 1000;
    position: absolute;
    top:50%;
    
}
.app2{
    box-shadow:0px 0px 10px 0px #3e3e41 ;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    top:20px;
    
    background:#fff;
    max-width: 505px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.money, .date{
    font-size:16px;
    font-weight: 600;
    color:#3e3e41;
    text-align: left;
    margin-bottom: 20px;
    padding-top:20px; 
    margin-left: 40px;
}
.sliderMoney,.sliderDate{
    width: 460px;
    height: 16px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.money2{
    display: flex;
    justify-content: space-between;
    padding-right: 22px;
    font-size:13px;
    color:#747476;
    margin-left: 40px;
    margin-right: 30px;
}
 .slider {
    -webkit-appearance: none;
    width: 90%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #a9212b;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  #d3d3d3;
    cursor: pointer;
}


.result{
    position: relative;
    background:#a9212b;
    margin-left: 0;
    height: 130px;
    color:#fff;
    font-size: 16px;
    padding-left:40px;
    font-weight: 600;
    margin-top:20px;
    padding-top: 5px;
}
.input input,
.extend,
.credit input{
    margin: 30px;
    background: #a9212b;
    width: 100px;
    height: 30px;
    border:1px solid #a9212b;
    color:#fff;
    font-size: 14px;
    border-radius: 15px;
     text-shadow: 1px 1px 2px black;
}
.update button{
    background: #a9212b;
    width: 100px;
    height: 30px;
    border:1px solid #a9212b;
    color:#fff;
    font-size: 14px;
    border-radius: 15px;
     text-shadow: 1px 1px 2px black;
}
.credit input{ 
    margin: 0px;
}
.input{
    text-align: center;
    background: #fff;  
}
.input input:hover,
.extend:hover,
.credit input:hover,
.update button:hover{
    background:#98101a;
}
.term{
    width: 280px;
    font-size: 13px;
    color:#5c646e;
    text-align:center;
    margin-top: 15px;
}
.adres{
    width:280px;
    height: 210px;
    color:#282d33;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin: 20px 10px;
}
.adres form{
    display: flex;
    flex-direction: column;
}

.adres input, 
.updateForm input{
    width: 280px;
    height: 30px;
    margin-bottom: 14px;
    border-radius: 10px;
    border:1px solid #d3d3d3;
    padding-left: 10px;
    color:grey;
}
.adres input[type ="submit"]{
    margin: 20px;
    background: #a9212b;
    width: 100px;
    height: 30px;
    color:#fff;
    font-size: 14px;
    border-radius: 15px;
    text-shadow: 1px 1px 2px black;
}
.adres input[type ="submit"]:hover{
    background: #98101a;
}
.CreditData{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow:0px 0px 10px 0px #3e3e41 ;
    width: 700px;
    padding: 10px 50px;
    justify-content:space-between; 
    margin-bottom: 5px;
    
}
.history h3 {
    text-align: center;
}
.credit{
    margin: 5px 20px;
    width: 250px;
    color:#000;
    font-size: 16px;
    font-size: 16px;
    font-family: "ArialMT";
    
}
.red{
    font-weight: 700;
    color: #98101a;
    font-family: "Arial";
}
.credit h3{
    font-size: 20px;
}
.small{
    margin-top: 10px;
    color:#000;
    font-size:18px;
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid #000;
    
}
.song{
    display: flex;
    flex-direction: row;
    width: 695px;
}
.songList{
    font-weight:700;
    color:#5c646e;
    line-height: 25px;
}
.songText{
    width: 695px;
    background: #f3f3f3;
    border-radius:5px;
    padding: 15px;
    margin: 15px 0 15px 0;
    color: #5c646e;
    font-size: 14px;
    font-family: "ArialMT";
    line-height: 20px;
    white-space: pre-line;
    position: absolute;
    top:-20px;
}
.close{
    width: 695px;
    position: absolute;
    text-align: right;
    right: 20px;
}
.close button{
    border:0;
    font-size: 20px;
    border-radius: 15px;
    color:#5c646e;
}
.blogList{
    border:0;
    border-radius: 10px;
    color:#5c646e;
    font-size: 10px;
    height: 15px;
}
.readMore{
    font-size:10px;
    color:#98101a;
    text-decoration:underline;
}
